<h1>本の情報</h1>

<p>
  タイトル<br>
  <%= @comics.title %>
</p>
<p>
  著者<br>
  <%= @comics.description %>
</p>

<p>
  <%= link_to "お気に入り登録", favorite_path(@comics), method: :get %>
</p>

<p>
<%= link_to "本棚",users_path %>
</p>
